# don't save compiled objects
*.o

# don't save logs and backups
*~
*.bak
lib/secure/save/backup/
lib/log
lib/secure/log

# don't save builder areas
lib/realms/

# don't save temp files
lib/daemon/tmp
lib/tmp
.*.swp
lib/open
# lib/save

# don't save binaries
bin/addr_server
bin/driver
bin/portbind
win32/driver.exe
